body{
    background-image: url(./img/fondo.jpg);
    width: 100vw;
    background-repeat: no-repeat;
    background-position-y:top;
    background-size: cover;
   font-family:'Viaoda Libre'; 
}
main{
    background-color: rgb(229, 229, 229);
}
h1{
    color: #88195a;
    background-color: rgba(229, 229, 229,0.5);
    font-size: 40px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0.5em;
    text-align:left;
    height: 4rem;
    width:100vw;
}
ul li{
    font-style: normal;
    font-size: 30px;
    list-style-type:none;
    line-height: 200px;
    letter-spacing: 0.3em;
    display:inline;
    line-height: normal;
}
nav{
     text-align: center;
}
